pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
scikit-learn-extra==0.3.0
matplotlib==3.8.4
seaborn==0.13.2
folium==0.16.0
streamlit==1.41.0
streamlit-folium==0.24.0
openpyxl==3.1.5 
xlsxwriter==3.2.3 
